@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Krona+One&display=swap');

body {
  background-image: url("./images/tunnel.jpg");
  background-position: center center;
  font-family: 'Amatic SC', sans-serif;
  font-color: #98C1D9;
  position:relative;
}

.container {
  width: 500px;
  margin: 0 auto;

}

.card-white {
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 47%;
  margin: 20px 0px;
  text-align: center;
  position: relative;
  top: 110px;
  font-size: large;
}

.card-links {
  padding: 40px;
  padding-right: 6px;
  margin: 20px 0px;
  text-align: center;
  position: relative;
  top: 81px;
  letter-spacing: 32px;

}

.btn-blue {
  border: 1px solid;
  border-color: #293241;
  color: #293241;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 4px;
  opacity: 1;
  transition: 0.5s;
}

.btn-blue:hover {
  border-color: #EE6C4D;
  background-color: #EE6C4D;
  animation-fill-mode: forwards;
  opacity: 1;
}

.list-inline {
  padding-left: 0px;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  padding-bottom: 25px;
}

.list-inline i {
  opacity: 1;
  transition: 0.5s;
}

.list-inline i:hover {
  color: #EE6C4D;
  opacity: 1;
}

.list-inline i {
  font-size: 50px;
  color: #040f16;
}

#introduction p {
  margin-bottom: 30px;
}

img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

p {
  padding-bottom: 5px;
}
