@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #C2EFEB;
  font-family: 'Roboto', sans-serif;
  font-color: #040f16;
}

.container {
  width: 500px;
  margin: 0 auto;

}

.card-white {
  background-color: #ECFEE8;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 1%;
  margin: 20px 0px;
  text-align: center;
}

.card-white .btn-blue {
  background-color: #98C1D9;
  color: #293241;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 4px;
}

.btn-blue:hover {
  background-color: #EE6C4D;
}

.list-inline {
  padding-left: 0px;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  padding-bottom: 25px;
}

.list-inline i:hover {
  color: #EE6C4D;
}

.list-inline i {
  font-size: 50px;
  color: #040f16;
}

#introduction p {
  margin-bottom: 40px;
}

img {
  border-radius: 50%;
}

p {
  padding-bottom: 5px;
}
